<h1>{{title}}</h1>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a routerLink="/home" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Home</a>
  </li>
  <li class="nav-item">
    <a routerLink="/workout" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Workouts</a>
  </li>
  <li class="nav-item">
    <a routerLink="/calendar" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Calendar</a>
  </li>
  <li class="nav-item">
    <a routerLink="/challenges" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Challenges</a>
  </li>
  <li class="nav-item">
    <a routerLink="/nutrition" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Nutrition</a>
  </li>
</ul>

<router-outlet></router-outlet>
<app-messages></app-messages>